essential-combined/mysql/mysql-data/*
essential-combined/mysql/conf.d/*
essential-combined/rabbitmq/data/*
essential-combined/rabbitmq/log/*
essential-combined/redis/config/redis.conf
essential-combined/redis/data/*

standalone-services/kafka/kafka/data/*
standalone-services/kafka/kafka/log/*
standalone-services/kafka/zookeeper/data/*
standalone-services/kafka/zookeeper/log/*

standalone-services/mongodb/data/*
standalone-services/mongodb/log/*

standalone-services/mysql/mysql-data/*
standalone-services/mysql/log/*

standalone-services/rabbitmq/data/*
standalone-services/rabbitmq/log/*

standalone-services/redis/data/*

*.DS_Store
*.log
